POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=inversions-tracker
POSTGRES_PORT=5433
CONNECTION_STRING=postgresql://postgres:root@db:5432/inversions-tracker
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/auth/google/callback
JWT_SECRET=
ALGORITHM=HS256